padding:0;
margin:0;


#topo{
 width:900px;
  height:200px;
  background:red;
}


#conteudo{
  width:900px;
  height:800px;
  background:red;
} 
  


#rodape{
  width:100%;
  height:100px;
  background:silver;
} 
  
  
  
