*{
 
padding:0;
margin:0;
}
body{

}

#texto{
width:100%;
height:900px;

 
margin: 0 auto;	
	 
}


#contener{
align-items: center;
 margin-left: auto;
    margin-right: auto;
}

#topo{


box-shadow: 5px 5px 5px silver;



align-items: center;
width:100%;
height:200px;
background:black;


    margin: 0 auto
 
    
}


#conteudo{
width:100%;
height:800px;
/* background:snow;*/
 align-items: center;
} 
  


#rodape{
  width:100%;
  height:100px;
  background:#4f4f4f;
 border: 2px black;
 align-items: center;
box-shadow: -5px -5px 5px silver;
text-align:center;
padding-top:60px;
color:white !important;
font-weight: bold;
} 

.logo{
margin-left:100px;	
margin-top: 25px;	
}
  
  
  
