*{
 
padding:0;
margin:0;
}

#topo{
width:100%;
height:200px;
background:royalblue;
}


#conteudo{
width:100%;
height:800px;
 background:snow;
} 
  


#rodape{
  width:100%;
  height:100px;
  background:silver;
} 
  
  
  
