*{
 
padding:0;
margin:0;
}

#topo{
width:100%;
height:200px;

background: linear-gradient(to right, #29323c, #485563);

border: solid 2px black;
box-shadow: 10px 10px 5px #aaaaaa;
}


#conteudo{
width:100%;
height:800px;
 background:snow;
} 
  


#rodape{
  width:100%;
  height:100px;
  background:#4f4f4f;
 border: 2px black;
 box-shadow: 10px 10px 5px #aaaaaa;
} 
  
  
  
