*{
 
padding:0;
margin:0;
}

#contener{
align-items: center;
}

#topo{
width:100%;
height:150px;

background: linear-gradient(to right, #29323c, #485563);

border: solid 2px black;
align-items: center;
}


#conteudo{
width:100%;
height:800px;
 background:snow;
 box-shadow: 10px 10px 5px #aaaaaa;
 align-items: center;
} 
  


#rodape{
  width:100%;
  height:100px;
  background:#4f4f4f;
 border: 2px black;
 align-items: center;
} 
  
  
  
