*{
 
padding:0;
margin:0;
}
body{
background:aliceblue;
}

#texto{
width:1000px;
height:900px;

 
margin: 0 auto;	
	 
}


#contener{
align-items: center;
 margin-left: auto;
    margin-right: auto;
}

#topo{
/*width:100%;
height:150px;
box-shadow: 10px 5px 5px black;
background: linear-gradient(to right, #29323c, #485563);

border: solid 2px black;
align-items: center;*/
 
     width:100%;
    height:200px;
    background: #000428;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    margin: 0 auto
 	-webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
		-moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
		box-shadow:         9px 7px 5px rgba(50, 50, 50, 0.77);
    
}


#conteudo{
width:100%;
height:800px;
/* background:snow;*/
 align-items: center;
} 
  


#rodape{
  width:100%;
  height:100px;
  background:#4f4f4f;
 border: 2px black;
 align-items: center;
box-shadow: 10px 5px 5px black;
} 
  
  
  
