*{
 
padding:0;
margin:0;
}
body{

}

#texto{
width:600px;
height:900px;
text-align: justify;
margin: 0 auto;	
	 
}


#contener{
align-items: center;
 margin-left: auto;
    margin-right: auto;
}

#topo{


box-shadow: 5px 5px 5px silver;



align-items: center;
width:100%;
height:200px;
background:black;


margin: 0 auto
 
    
}


#conteudo{
width:100%;
height:800px;
/* background:snow;*/
 align-items: center;
} 
  


#rodape{
vertical-align: middle!important;
  width:100%;
  height:100px;
  background:#4f4f4f;
 border: 2px black;
 align-items: center!important;
box-shadow: -5px -5px 5px silver;
justify-content: center; 
color:white !important;
 
} 

.logo{
margin-left:100px;	
margin-top: 25px;	
}
  
 p{
 align-items: center;
vertical-align: middle;
}
#copy{
 
align-items:  !important;
vertical-align: !important;
margin: 0 auto !important;
}
  
